html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid grey;
}
nav h1{
    color: gray;
    font-family: 'playfair display', sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 600px;
}
nav .onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('images/baye1.jpeg');
    background-size: cover;
    color: black;
    padding: 60px;
}

header h1{
    font-family: 'playfair display', sans-serif;
    font-size: 50px;   
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
header button{
    padding: 10px 20px;
    background-color: #fff; 
    color: #000;
    border:none;
    font-size: 20px;
    font-family: 'playfair display', sans-serif;
    cursor: pointer;
}
header .onglets a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    
}

.main{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}
.main .content .card .left{
    flex: 0 0 40%;
    padding: 20;
    background-color: black;
    color: #fff;
}
.main .content .card .right{
    flex: 0 0 40%;
}
.main .content .card .right img{
    height: 300px;
    width: 300px;
    margin-top: 5px;
}
footer{
    margin-top: 40px;
    border-top: 5px solid gray;
    background-color: black;
    color: blanchedalmond;
    padding: 30px 100px;
}
footer h1{
    font-family: 'playfair display', sans-serif;
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 5px;
}
footer .livres{
    margin-top: -10px;
    display:flex;
    flex-wrap: wrap;
}
footer .livres .livre{
    margin-right: 30px;
    padding: 10px;
}
footer .livres .livre{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181,181);
}
